# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.so
**/*.obj
**/*~

# Plots
/examples/MNIST/**/*.dot
/examples/MNIST/**/*.pdf
/examples/MNIST/**/*.bin

# Developer environments
*.DS_Store
.idea
.vscode

# CMake
CMakeLists.txt
cmake-build-debug/*

# Build
/[Bb]uild*
/[Bb]in*
