[submodule "third_party/pybind11"]
    ignore = dirty
    path = third_party/pybind11
    url = https://github.com/pybind/pybind11.git

[submodule "third_party/eigen"]
    ignore = dirty
	path = third_party/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
