# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.so
**/*.obj
**/*~

# Tests
/examples/**/*.dot
/examples/**/*.pdf
/examples/**/*.bin
/examples/**/*.tmp

# Developer environments
*.DS_Store
.idea
.vscode

# CMake
CMakeLists.txt
cmake-build-debug/*

# Build
/[Bb]uild*
/[Bb]in*
