name: build-windows

on: [push, pull_request]
  branches-ignore:
    - gh-pages

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #os: [windows-latest, windows-2016]
        os: [windows-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Configure
      run: |
        mkdir build
        cd build
        cmake -G "Visual Studio 16 2019" -A x64 -T ClangCL -DBUILD_SUPERBUILD=ON -DBUILD_SHARED_LIBS=OFF -DBUILD_TARGET=CPU ..
      shell: cmd
    - name: Build
      run: cmake --build build --config Release
      shell: cmd
    - name: Test
      run: |
        cd build
        "bin/Release/unit_tests.exe"
      shell: cmd
